<%#= link_to 'all' ,root_path,class: "btn btn-info"%>
<%#= link_to 'todo',root_path(status: 'todo'),class: "btn btn-info"%>
<%#= link_to 'doing',root_path(status: 'doing'),class: "btn btn-info"%>
<%#= link_to 'done',root_path(status: 'done'),class: "btn btn-info"%>

<div class="text-end">
  <% if logged_in? %>
    <%= link_to '検索解除', root_path%>
    <%= link_to 'ログアウト', signout_path, {method: :delete} %>
  <% end %>
</div>

<% if params[:status]== 'done'%>
        <td><%= link_to 'done全削除ボタン', all_done_destroy_task_path(), method: :patch, data: {confirm: '削除しますか？'} ,class: "btn btn-primary"%></td>
<% end %>

<div class="d-flex bd-highlight">
    <div class="p-2 w-100 bd-highlight">
      <h3 class="bg-info text-center rounded-pill">
      ToDo一覧<br>
      <% if params[:deadline].present? %>
          <%= "指定日 '#{params[:deadline]}'"%>
      <% end %>

      <% if params[:keyword].present? %>
          <%= "検索ワード '#{params[:keyword]}'"%>
      <% end %>

      </h3>

      <%= render 'commons/tasks' %>
    </div>
  <div class="p-4 flex-shrink-1 bd-highlight">

    <div class="mb-2 p-4 bg-info rounded">
    <h5>【ToDo追加フォーム】</h5>
      <%= form_with model: @task do |f|%>
          締め切り日
          <br>
          <%= f.date_select :deadline, use_month_numbers: true %>
          <br>
          目安(分)
          <br>
          <%= f.select :estimated_time, {"15分"=> "15","30分"=> "30","45分"=> "45", "60分"=> "60", "90分"=> "90","120分"=> "120","180分"=> "180"},include_blank: true%>
          <br>
          タスク内容
          <br>          
          <%= f.text_field :content %>
          <%= f.submit 'ToDoを追加',class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="p-4 bg-info rounded">
    <h5>【検索フォーム】</h5>
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      締め切り日
      <br>
      <%= f.date_select :deadline , include_blank: true,use_month_numbers: true, selected: Date.today%><br>
      <!--ここでチェックボックスなどいれればいいのではないかな？-->
      <br>
      検索ワード
      <br>
      <%= f.text_field :keyword %>
      <br>
      <%= f.submit "検索" %>
    <% end %>
    </div>

  </div>
</div>

<%#ページネーション用の記述%>
<h3 class="text-center"><%= paginate @tasks %></h3>