<h3><%= @user.name %>さんのタスク一覧</h3>
<%= form_with model: @task do |f|%>
    <%= f.text_field :content %>
    <%= f.submit '投稿する' %>
<% end %>

<%= link_to 'all' ,root_path%>
<%= link_to 'todo',root_path(status: 'todo')%>
<%= link_to 'doing', root_path(status: 'doing')%>
<%= link_to 'done', root_path(status: 'done')%>

<% if params[:status]== 'done'%>
        <td><%= link_to 'done全削除ボタン', tasks_path, method: :delete, data: {confirm: '削除しますか？'} %></td>
<% end %>

<%= render 'commons/tasks' %>

<%#ページネーション用の記述%>
<%= paginate @tasks %>