<%#= link_to 'all' ,root_path,class: "btn btn-info"%>
<%#= link_to 'todo',root_path(status: 'todo'),class: "btn btn-info"%>
<%#= link_to 'doing',root_path(status: 'doing'),class: "btn btn-info"%>
<%#= link_to 'done',root_path(status: 'done'),class: "btn btn-info"%>

<div class="text-right">
<% if logged_in? %>
  <%= link_to 'HOME', root_path%>
  <%= link_to 'ログアウト', signout_path, {method: :delete} %>
<% end %>
</div>

<% if params[:status]== 'done'%>
        <td><%= link_to 'done全削除ボタン', all_done_destroy_task_path(), method: :patch, data: {confirm: '削除しますか？'} ,class: "btn btn-primary"%></td>
<% end %>
<div class="d-flex bd-highlight">
    <div class="p-2 w-100 bd-highlight"">
      <h3 class="bg-info text-center">
      本日のToDo一覧<br>
      <%= Date.today.strftime("%Y年%m月%d日")%>
      
      </h3>

      <%= render 'commons/tasks' %>

    </div>
  <div class="p-2 flex-shrink-1 bd-highlight border border-info">

    <br>
      <%= form_with model: @task do |f|%>
          <%= f.date_select :deadline%>
          <%= f.select :estimated_time, {"15分"=> "15","30分"=> "30","45分"=> "45", "60分"=> "60", "90分"=> "90","120分"=> "120","180分"=> "180"},include_blank: true %>
          <%= f.text_field :content %>
          <%= f.submit 'ToDoを追加',class: "btn btn-primary" %>
      <% end %>


    <%= form_with url: search_path, method: :get, local: true do |f| %>
      締め切り日
      <%= f.date_select :deadline %><br>
      <!--ここでチェックボックスなどいれればいいのではないかな？-->
      検索ワード
      <%= f.text_field :keyword %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
</div>

<%#ページネーション用の記述%>
<h3 class="text-center"><%= paginate @tasks %></h3>