<table>
    <tr>
    <th>締め切り日</th><th>ステータス</th><th>ステータス変更</th><th>タスク内容</th><th>削除</th>
    </tr>
    <% @tasks.each do |task|%>
    <tr>
        <%#= task.id %>
        <td><%= task.deadline %></td>
        <td><%= task.status %></td>
        <td><%= form_with model: task do |t|%>
            <%= t.select task.status, {todo: "todo", doing: "doing", done: "done"} %>
        <% end %>
        </td>
        <td><%= task.content %></td>
        <%#= task.created_at.to_s(:datetime_jp) %>
        <%#= link_to '編集ボタン', edit_task_path(task)%>
        <td><%= link_to '削除', task_path(task), method: :delete, data: {confirm: '削除しますか？'} %></td>
    </tr>
    <% end %>
    
</table>
