<table class="container rounded">
    <tr>
    <th class="text-center">タスク内容</th><th class="text-center">締め切り日</th><th class="text-center">時間(分)</th><th class="text-center">削除</th>
    </tr>
    <% @tasks.each do |task|%>
    <tr>
        <!--doneボタン-->
            <%#= link_to '未完了', task_path(task, "task[status]" => "todo"), method: :patch%>
            <%#= link_to '完了', task_path(task, "task[status]" => "done"), method: :patch%>
        <td>
            <% if task.status == "done" %>
                <div class='task-del-line'>
                <a href="<%= task_path(task, "task[status]" => "todo") %>" data-method="patch"><i class="fas fa-check-square"></i></i></a>
                <span><%= task.content %></span></div>
            <% else %>
                <a href="<%= task_path(task, "task[status]" => "done") %>" data-method="patch"><i class="fas fa-square"></i></a>
                <%= task.content %>
            <% end %>
        </td>
        <!--締め切り日-->
        <% if task.deadline.present?%>
            <td class="text-center"><%= task.deadline.strftime("%m/%d") %></td>
        <% else %>
            <td class="text-center"><%= task.deadline%></td>
        <% end %>

        <td class="text-center"><%= task.estimated_time %></td>

        <%#= task.created_at.to_s(:datetime_jp) %>
        <%#= link_to '編集ボタン', edit_task_path(task)%>
        <td><%#= link_to '削除', task_path(task), method: :delete, data:  {confirm: '削除しますか？'},class: "btn btn-danger" %>        
        <a data-confirm="削除しますか？"rel="nofollow" data-method="delete" href="<%= task_path(task) %>"><i class="fas fa-trash-alt"></i></a>
</td>
    </tr>
    <% end %>
</table>

